@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&family=Poppins:wght@200;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all .2s linear;
    color: #130f40;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}
header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(224, 122, 27, 0.4)), url(../image/blog-banner.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.header .menu {
    top:0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;   
}

.header .menu .logo {
    font-size: 4rem;
    font-weight: bolder;
    color: (var(--black));
}
.header .menu .logo i {
    color: var(--orange);
}
.header .menu .navbar a {
    font-size: 2rem;
    margin: 0 1rem;
    color: white;
}
.header .menu .navbar a:hover {
    color: var(--orange);
    font-size: 2.5em;
}
.header .menu .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background-color: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
}
.header .menu .icons div:hover {
    color: white;
    background-color: #ff7800;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    color: #eee;
    font-size: 8rem;
    line-height: 1.2;
}
.banner-title span{
    color: rgb(238, 72, 21);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.6rem;
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-size: 1.3rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
    color: var(--black);
    margin-left: .7rem;
}
.search-input::placeholder{
    text-transform: capitalize;
    font-size: 1.2rem;

}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}
.mid h1 {
    margin: 5rem 8rem .4rem 10rem;
    font-size: 5rem;
    font-weight: 400;
}
.mid p {
    margin-left: 10rem;
    font-size: 2rem;
    font-weight: 400;
}
.mid .filter {
    margin: .5rem 0 0 10rem;

}
.mid .filter a {
    margin-right: 3rem;
    font-size: 1.5rem;
}

.all1{
    cursor: pointer;
}

.all1.active{
    text-decoration: underline .2rem;
    color: rgb(218, 79, 14);
}

.stories{
    display: none;
    justify-content: space-between;
}

.stories.active{
    display: flex;
}


.mid .stories .left {
    flex-basis: 53%;
    padding: 5rem 0rem 5rem 10rem;
}
.mid .stories .left .inside {
    position: relative;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    margin-top: -15.2rem;
    height: 15rem;
    width: 90%;

}
.mid .stories .left .inside h2 {
    color:#ebe9e4;
    position: absolute;
    font-size: 2.2rem; 
    background-color: rgba(46, 42, 40, 0.6);
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: 2rem;
}
.mid .stories .left img {
    object-fit: cover;
    width: 90%;
    border-radius: 3rem;
}
.mid .stories .right {
    flex-basis: 40%;
    margin-right: 10rem;

}
.mid .stories .right .box {
    margin: 5rem 0rem;
    display: flex;
    background-color: #ddd8d8;
    border-radius: 2rem;
    height: 12.4rem;
}
.mid .stories .right img {
    width: 31.2%;
    border-radius: 2rem;
    flex-basis: 40%;
    object-fit: cover;
}
.mid .stories .right .box div{
    margin: 0 10rem 3rem 0rem;
}
.mid .stories .right .box div h2 {
    font-size: 2rem;
    padding: .8rem 0 0.5rem 1.5rem;
}
.mid .stories .right .box div h3{
    font-size: 1.7rem;
    padding-left: 1.5rem;
}
.mid .stories .right .box div h4 {
    font-size: 1rem;
    padding: 1.5rem;
}


.blogs>h1 {
    font-size: 5rem;
    margin-left: 10rem;
    margin-top: 5rem;
    color: #d16404;
}
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    margin: 5rem 15rem;
}

.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background:#fff;
}

.blogs .box-container .box img{
    height:25rem;
    width:100%;
    object-fit: cover;
}
.blogs .box-container .box img:hover {
    transform: scale(1.1);
    transition: transform 0.2s; 
    transform-origin: center;
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a{
    color:var(--light-color);
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover{
    color:var(--black);
}

.blogs .box-container .box .content .icons i{
    color:var(--orange);
    padding-right: .5rem;
    font-size: 1.5rem;
}

.blogs .box-container .box .content h3{
    line-height: 1.8;
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.blogs .box-container .box .content p{
    line-height: 1.8;
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
}
.blogs .pages {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.blogs .pages .button {
    border: .1rem solid rgb(235, 47, 14);
    background-color: #db6f10;
    border-radius: 1rem;
}
.blogs .pages .button:hover {
    background-color: #eee;
}
.blogs .pages .button:hover > p{
    color: #130f40;
}
.blogs .pages .button p {
    margin: .2rem 1.5rem;
    font-size: 1.5rem;
    color: white;
}

.footer{
    background: #fff;
    height: 30rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    margin: 5rem 5rem 2rem 10rem;
    padding-bottom: 1rem;
    border-bottom: 1px gray solid;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
    text-transform: capitalize;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}






/* media queries  */

@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width: 768px) {


    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .mid .stories {
        display: inline-block;
    }

    .mid .stories .right .box {
        margin-left: 10rem;
    }

}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .mid .stories {
        display: inline-block;
    }

    .mid .stories .right .box {
        margin-left: 10rem;
    }

    .footer {
        text-align: center;
    }

    .footer .box-container .box .payment-img {
        margin: 2rem auto;
    }
}


#scrollToTopBtn {

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: #e27f2eb2;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 90%;
}

#scrollToTopBtn:hover {
    background-color: #d85d0c;
}

