body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 9rem;
    font-size: 161%;

}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 8rem;
    color:var(--black);
}

.heading span{
    background: var(--orange);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--orange);
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background: var(--orange);
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--black);
    color:#fff;
}

.cart-ship-pay {
    flex: 1;
    padding: 4rem;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


.cart-ship-pay h2 {
    text-align: center;
}

.cart p{
    float: right;
    margin-top: .5rem;
    padding-top: 1.3rem;
    font-size: 2rem;
    border-top: 1px solid var(--orange);
}

.cart ul{
    margin-top: 1rem;
}

.cart ul li {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.cart ul li img{
    width: 5rem;
    margin-right: 3rem;
}

.cart-item-info {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}



.ship-pay{
    margin-top: 4rem;
}

.choose_ship_method{
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.shipping-method {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}

.shipping-method:hover {
    background-color: var(--orange);
}

.shipping-method input[type="radio"] {
    display: none;
}

.shipping-method label {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.shipping-method input[type="radio"]:checked + label {
    background-color: var(--orange);
    color: var(--black);
    font-weight: bold;
}




/* payment */
.payment-form {
    flex: 1;
    padding: 4rem;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-form h2 {
    text-align: center;
}
#payment-form {
    margin-top: 1rem;
}

.form-group {
    margin-bottom: 15px;
}

.textarea-note{
    width: 100% !important;
    height: 7rem !important;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin: 4rem auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: var(--orange);
    /* color: var(--black); */
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#total-amount {
    font-weight: bold;
}


.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color:var(--orange);
}





@media only screen and (max-width:740px){
    main{
        display: block;
    }
    .payment-form{
        margin-top: 30px;
    }
}
@media only screen and (min-width:740px) and (max-width:1024px){
    main{
        display: block;
    }
}
