@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
    /* background-color: #fff; */
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#ff7800;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#fff;
}

.header .logo i{
    color:white;
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.header .navbar a:hover{
    color:white;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--black);
    color:#fff;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:110%; right:-110%;
    width: 50rem;
    height:5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--black);
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--orange);
}

.header .shopping-cart{
    position: absolute;
    top:110%; right:-110%;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:35rem;
    background: #fff;
}

.header .shopping-cart.active{
    right:2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap:1rem;
    position: relative;
    margin:1rem 0;
}

.header .shopping-cart .box img{
    height:10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top:50%; right:2rem;
    cursor: pointer;
    color:var(--light-color);
    transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover{
    color:var(--orange);
}

.header .shopping-cart .box .content h3{
    color:var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color:var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: center;
    color:var(--black);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin:1rem;
}

.header .login-form{
    position: absolute;
    top:110%; right:-110%;
    width:35rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box{
    width: 100%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding:.5rem 0;
    color:var(--light-color);
}

.header .login-form p a{
    color:var(--orange);
    text-decoration: underline;
}

.product{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 15rem;
    padding-bottom: 10rem;
}

.grid{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.grid_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -.5rem;
    margin-right: -.5rem;
    position: relative;
}

.grid_column-2{
    width: 30%;
    height: 400px;
    margin-left: .5rem;
    margin-right: .5rem;
    width: 16.6667%;
    display: inline-flex;
}

.grid_column-10{
    width: 75%;
    margin-left: 0.9rem;
    margin-right: 0.5rem;
    width: calc(100%-16,6667%);
    flex-wrap: wrap;
    /* background-color: white; */
    
}

.category{
    border-radius: .2rem;
    background-color: #fff;
}

.category__heading{
    font-size: 1.8rem;
    padding: 1.2rem 1.6rem ;
    border-bottom: .1rem solid rgba(0, 0, 0,0.05);
    color: var(--black);
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: .4rem;
    position: relative;
    top: -.1rem;
}

.category-list{
    padding:0.5rem 0 .8rem 0;
    list-style: none;
}

.category-item{

}

.category-item_link{
    text-decoration: none;
    color: var(--black);
    font-size: 1.6rem;  
    line-height: 44px;
    padding: .8rem 1.6rem;
    transition:right linear 0.1s;
    position: relative;
    right: 0;
    /* margin: 1rem 0 0 0; */
}

.category-item_link:hover{
    right: -.4rem;
    color: var(--orange);
   
}

.filter-home{
    background-color: rgba(0,0,0,0.03);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.filter-home_label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
    /* background-color: white; */
}

.filter-home_btn{
    min-width: 90px;
    margin-right: 12px;
    background-color: white;
    font-size: 1.4rem;

}

.filter-home.btn-primary{
    background-color: var(--orange) ;
}
 

.select-input{
    height:30px ;
    min-width: 200px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.select-input:hover .select-input_list{
    display: block;
}

.select-input_label{
    font-size: 1.4rem;
}

.select-input_icon{
    font-size: 1.4rem;
    color: rgb(131,131,131);
    /* margin: 0 16px 0 8px; */
    position: relative;
    top:1px;
} 

.select-input_list{
    position: absolute;
    left: 0;
    right: 0;
    top:31.5px;
    border-radius: 2px;
    background-color: white;
    padding:8px 16px ;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input_list::before{
    content: "";
    /* background-color: red; */
    position: absolute;
    height: 10px;
    width: 100%;
    top: -5px;
    right: 0px;

}

.select-input_link{
    font-size: 1.4rem;
    color: var(--black) ;
    text-decoration: none;
    display: block ;
    padding: 4px 0;
}

.select-input_link:hover{
    color: var(--orange);
}

.filter-home_page{
    display: flex;
    align-items: center ;
    margin-left: auto;

}

.filter-home_page-num{
    font-size: 1.4rem;
    color: var(--black);
    margin-right: 22px;
}

.filter-home_page-current{
    color: var(--orange);
}

.filter-home_page-btn{
    flex:1; 
    background-color: white  ;
    text-decoration: none;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.filter-home_page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex ;
    width: 72px;
    height: 36px;
}

.filter-home_page-btn:first-child{
    border-right: 1px solid #eee; 
}

.filter-home_page-btn-disabled{
    cursor: default;
    background-color: #f9f9f9;
}

.filter-home_page-btn-disabled .filter-home_page-icon{
     color: #ccc;
}

.filter-home_page-icon{
    margin: auto;
    font-size: 1.5rem;
    color: #555;
}

.product-home{
    margin-top: 15px;
    margin-left: 5px;
}

.row-2-4{
    display: flex;
    justify-content: space-between;
}


.grid_column-2-4{
    margin-right: .8rem;
    width: 23%;
    margin-bottom: 20px;
    
}

.product-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-home-item{
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    display: block;
    will-change: transform;
    text-decoration: none;

}

.product-home-item:hover{
    box-shadow: 0 0.2rem 4rem 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);

}
.product-home-item_img{
   max-width: 100%;

}
.product-home-item_name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black);          
    line-height:1.8rem ;
    height: 3.6rem;
    overflow: hidden;
    display: flex ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
    margin: 25px 10px 4px;
    /* display-flex: justify; */
}
.product-home-item_price{
    display: flex ;
    margin-left: 10px;
    align-items: baseline;
    justify-content: center;
}
.product-home-item_price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.product-home-item_price-new{
    font-size: 1.6rem;
    color:var(--orange);
    margin-left: 6px;
}
.product-home-item_action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.product-home-item_action-like{
    font-size: 1.4rem;
}
i.product-home-item_action-like-icon-fill{
    display: none;
    /* color: #F63D30; */
}

.product-home-item_action-like--liked .product-home-item_action-like-icon-fill{
    display: inline-block;
}

.product-home-item_action-like--liked .product-home-item_action-like-icon-emty{
    display: none ;
    
}
.product-home-item_rating{
    font-size: 1rem;
    color: #d5d5d5;
}

.product-home-item_origin{
    justify-content: space-between;
    color: black ;
}

.product-home-item_favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--orange);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-home-item_favourite span{
    color: white;
}

.product-home-item_favourite::after{
    content: "";
    position:absolute ;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent ;
    filter: brightness(40%);
}

.product-home-item_favourite i{
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: white;
}
.product-home-item_sale{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255,216,64,0.94);

}

.product-home-item_sale::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 7px;
    border-style: solid;
    border-color: transparent rgba(255,216,64,0.94) transparent rgba(255,216,64,0.94);
}

.product-home-item_sale-percent{
    color:#ee4d2d;
    font-weight: 1.2rem;
    font-size: 1.2rem;
    position: relative;
    top: -0.5px;
    padding-left: 10px;
}
.product-home-item_sale-lable{
    font-weight: 1.3rem;
    font-size: 1.3rem;
    color: white;
    position: relative;
    top: -4px;
    font-weight: 600;
    padding-left: 3px;
}

.product_page-link ul{
    list-style: none;
    display: flex;
    
}

.nav-link{
    text-align: center;
    display: flex;
    justify-content: center;
}

.page-item{
    margin: 20px 15px 10px 10px;
/* border-radius: 10px; */
    font-size: 15px;
    border:1px solid gray;
    border-radius: 10px;
}

.page-item:hover{
    background-color: var(--orange);
    color:white;
}

.page-item:hover a{
    /* background-color: var(--orange); */
    color:white;
}

.page-link{
    line-height: 35px;
    width: 35px;
    height: 35px;
    /* justify-content:space-between; */
    padding: 10px;
}


.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color:var(--orange);
}






/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }

}
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
    /* background-color: #fff; */
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#ff7800;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#fff;
}

.header .logo i{
    color:white;
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.header .navbar a:hover{
    color:white;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--black);
    color:#fff;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:110%; right:-110%;
    width: 50rem;
    height:5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--black);
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--orange);
}

.header .shopping-cart{
    position: absolute;
    top:110%; right:-110%;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:35rem;
    background: #fff;
}

.header .shopping-cart.active{
    right:2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap:1rem;
    position: relative;
    margin:1rem 0;
}

.header .shopping-cart .box img{
    height:10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top:50%; right:2rem;
    cursor: pointer;
    color:var(--light-color);
    transform: translateY(-50%);
}


.header .shopping-cart .box .fa-trash:hover{
    color:var(--orange);
}

.header .shopping-cart .box .content h3{
    color:var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color:var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: center;
    color:var(--black);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin:1rem;
}

.header .login-form{
    position: absolute;
    top:110%; right:-110%;
    width:35rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box{
    width: 100%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding:.5rem 0;
    color:var(--light-color);
}

.header .login-form p a{
    color:var(--orange);
    text-decoration: underline;
}

.product{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 15rem;
    padding-bottom: 10rem;
}

.grid{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.grid_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -.5rem;
    margin-right: -.5rem;
    position: relative;
}

.grid_column-2{
    width: 30%;
    height: 400px;
    margin-left: .5rem;
    margin-right: .5rem;
    width: 16.6667%;
    display: inline-flex;
}

.grid_column-10{
    width: 75%;
    margin-left: 0.9rem;
    margin-right: 0.5rem;
    width: calc(100%-16,6667%);
    flex-wrap: wrap;
    /* background-color: white; */
    
}

.category{
    border-radius: .2rem;
    background-color: #fff;
}

.category__heading{
    font-size: 1.8rem;
    padding: 1.2rem 1.6rem ;
    border-bottom: .1rem solid rgba(0, 0, 0,0.05);
    color: var(--black);
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: .4rem;
    position: relative;
    top: -.1rem;
}

.category-list{
    padding:0.5rem 0 .8rem 0;
    list-style: none;
}

.category-item{

}

.category-item_link{
    text-decoration: none;
    color: var(--black);
    font-size: 1.6rem;  
    line-height: 44px;
    padding: .8rem 1.6rem;
    transition:right linear 0.1s;
    position: relative;
    right: 0;
    /* margin: 1rem 0 0 0; */
}

.category-item_link:hover{
    right: -.4rem;
    color: var(--orange);
   
}

.filter-home{
    background-color: rgba(0,0,0,0.03);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.filter-home_label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
    /* background-color: white; */
}

.filter-home_btn{
    min-width: 90px;
    margin-right: 12px;
    background-color: white;
    font-size: 1.4rem;

}

.filter-home.btn-primary{
    background-color: var(--orange) ;
}
 

.select-input{
    height:30px ;
    min-width: 200px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.select-input:hover .select-input_list{
    display: block;
}

.select-input_label{
    font-size: 1.4rem;
}

.select-input_icon{
    font-size: 1.4rem;
    color: rgb(131,131,131);
    /* margin: 0 16px 0 8px; */
    position: relative;
    top:1px;
} 

.select-input_list{
    position: absolute;
    left: 0;
    right: 0;
    top:31.5px;
    border-radius: 2px;
    background-color: white;
    padding:8px 16px ;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input_list::before{
    content: "";
    /* background-color: red; */
    position: absolute;
    height: 10px;
    width: 100%;
    top: -5px;
    right: 0px;

}

.select-input_link{
    font-size: 1.4rem;
    color: var(--black) ;
    text-decoration: none;
    display: block ;
    padding: 4px 0;
}

.select-input_link:hover{
    color: var(--orange);
}

.filter-home_page{
    display: flex;
    align-items: center ;
    margin-left: auto;

}

.filter-home_page-num{
    font-size: 1.4rem;
    color: var(--black);
    margin-right: 22px;
}

.filter-home_page-current{
    color: var(--orange);
}

.filter-home_page-btn{
    flex:1; 
    background-color: white  ;
    text-decoration: none;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.filter-home_page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex ;
    width: 72px;
    height: 36px;
}

.filter-home_page-btn:first-child{
    border-right: 1px solid #eee; 
}

.filter-home_page-btn-disabled{
    cursor: default;
    background-color: #f9f9f9;
}

.filter-home_page-btn-disabled .filter-home_page-icon{
     color: #ccc;
}

.filter-home_page-icon{
    margin: auto;
    font-size: 1.5rem;
    color: #555;
}

.product-home{
    margin-top: 15px;
    margin-left: 5px;
}

.row-2-4{
    display: flex;
    justify-content: space-between;
}


.grid_column-2-4{
    margin-right: .8rem;
    width: 23%;
    margin-bottom: 20px;
    
}

.product-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-home-item{
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    display: block;
    will-change: transform;
    text-decoration: none;

}

.product-home-item:hover{
    box-shadow: 0 0.2rem 4rem 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);

}
.product-home-item_img{
   max-width: 100%;

}
.product-home-item_name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black);          
    line-height:1.8rem ;
    height: 3.6rem;
    overflow: hidden;
    display: flex ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
    margin: 25px 10px 4px;
    /* display-flex: justify; */
}
.product-home-item_price{
    display: flex ;
    margin-left: 10px;
    align-items: baseline;
    justify-content: center;
}
.product-home-item_price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.product-home-item_price-new{
    font-size: 1.6rem;
    color:var(--orange);
    margin-left: 6px;
}
.product-home-item_action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.product-home-item_action-like{
    font-size: 1.4rem;
}
i.product-home-item_action-like-icon-fill{
    display: none;
    /* color: #F63D30; */
}

.product-home-item_action-like--liked .product-home-item_action-like-icon-fill{
    display: inline-block;
}

.product-home-item_action-like--liked .product-home-item_action-like-icon-emty{
    display: none ;
    
}
.product-home-item_rating{
    font-size: 1rem;
    color: #d5d5d5;
}

.product-home-item_origin{
    justify-content: space-between;
    color: black ;
}

.product-home-item_favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--orange);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-home-item_favourite span{
    color: white;
}

.product-home-item_favourite::after{
    content: "";
    position:absolute ;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent ;
    filter: brightness(40%);
}

.product-home-item_favourite i{
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: white;
}
.product-home-item_sale{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255,216,64,0.94);

}

.product-home-item_sale::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 7px;
    border-style: solid;
    border-color: transparent rgba(255,216,64,0.94) transparent rgba(255,216,64,0.94);
}

.product-home-item_sale-percent{
    color:#ee4d2d;
    font-weight: 1.2rem;
    font-size: 1.2rem;
    position: relative;
    top: -0.5px;
    padding-left: 10px;
}
.product-home-item_sale-lable{
    font-weight: 1.3rem;
    font-size: 1.3rem;
    color: white;
    position: relative;
    top: -4px;
    font-weight: 600;
    padding-left: 3px;
}

.product_page-link ul{
    list-style: none;
    display: flex;
    
}

.nav-link{
    text-align: center;
    display: flex;
    justify-content: center;
}

.page-item{
    margin: 20px 15px 10px 10px;
/* border-radius: 10px; */
    font-size: 15px;
    border:1px solid gray;
    border-radius: 10px;
}

.page-item:hover{
    background-color: var(--orange);
    color:white;
}

.page-item:hover a{
    /* background-color: var(--orange); */
    color:white;
}

.page-link{
    line-height: 35px;
    width: 35px;
    height: 35px;
    /* justify-content:space-between; */
    padding: 10px;
}


.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color:var(--orange);
}






/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }

}

#scrollToTopBtn {

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: #e27f2eb2;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 90%;
}

#scrollToTopBtn:hover {
    background-color: #d85d0c;
}
